html,body{
    height:100%;
}
#root{
    height: 100%;
}
.mainContainer{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns:2fr 4fr;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}